.main {
    /* fallback for old browsers */
    /* background-color: #a1c4fd; */
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: #fff
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1)) */
  }
  
  .bg-indigo {
    background-color: var(--primary-color);
  }
  
  

  
  /* @media (max-width: 758px) { */
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  /* } */
  
  /* @media (min-width: 759px) { */
    .card-registration-2 .bg-white {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  /* } */
  
 .card-registration{
    width: 1400px;
    /* height:1700px; */
 }